<form [formGroup]="playerForm" (submit)="submitPlayer()">
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-white">
        Création d'un joueur
      </h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label
            for="first-name"
            class="block text-sm font-medium leading-6 text-white"
            >Prénom</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              formControlName="firstName"
              [ngClass]="
                firstNameError && playerForm.get('firstName')?.invalid
                  ? 'invalid'
                  : ''
              "
              class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="last-name"
            class="block text-sm font-medium leading-6 text-white"
            >Nom</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              formControlName="lastName"
              [ngClass]="
                lastNameError && playerForm.get('lastName')?.invalid
                  ? 'invalid'
                  : ''
              "
              class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="role"
            class="block text-sm font-medium leading-6 text-white"
            >Role</label
          >
          <div class="mt-2">
            <select
              id="role"
              name="role"
              autocomplete="role"
              formControlName="role"
              [ngClass]="
                roleError && playerForm.get('role')?.invalid ? 'invalid' : ''
              "
              class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black"
            >
              <option [ngValue]="''" disabled selected>Choisir un rôle</option>
              @for (role of rolesEnum; track role) {
              <option [ngValue]="role.label">{{ role.name }}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-white">
      Cancel
    </button>
    <button
      type="submit"
      class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
    >
      Save
    </button>
  </div>
</form>
